extends layout

block content
    .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .name
                h1.big <b>Cody T. Patterson</b>
    .row
        .col-lg-6.col-md-6.col-sm-3.col-xs-3
            .leftPanelWrapper
                include templates/navSquares
        .col-lg-6.col-md-6.col-sm-9.col-xs-9
            .cDisplayWrapper
                include templates/contentDisplay