include content/home
.separator
    hr
include content/tech
.separator
    hr
include content/projects
.separator
    hr
include content/social
.separator
    hr
include content/stats
.separator
    hr
include content/resume
.separator
    hr
include content/employment
.separator
    hr
include content/contact
