.firstSeparator#t-home
    hr
include content/home
.separator#t-tech
    hr
include content/tech
.separator#t-projects
    hr
include content/projects
.separator#t-social
    hr
include content/social
.separator#t-stats
    hr
include content/stats
.separator#t-resume
    hr
include content/resume
.separator#t-employment
    hr
include content/employment
.separator#t-contact
    hr
include content/contact
include content/footer