h1#contact.big Contact
#contactForm.row
    .col-md-12
        form#emailForm(onsubmit='return sendEmail();')
            .col-md-6
                .form-group
                    label.form-control-label(for='firstInput') First Name
                    input#firstInput.form-control(type='text', placeholder='Enter first name')
                    span#firstInput-g
            .col-md-6
                .form-group
                    label.form-control-label(for='lastInput') Last Name
                    input#lastInput.form-control(type='text', placeholder='Enter last name')
                    span#lastInput-g
            .col-md-6
                .form-group
                    label.form-control-label(for='emailInput') Email address
                    input#emailInput.form-control(type='email', placeholder='Enter email')
                    span#emailInput-g
            .col-md-6
                .form-group
                    label.form-control-label(for='numberInput') Phone Number
                    input#numberInput.form-control(type='number', placeholder='Enter phone number (optional)')
            .col-md-12
                .form-group
                    label.form-control-label(for='subjectInput') Subject
                    input#subjectInput.form-control(type='text', placeholder='Enter a subject')
                    span#subjectInput-g
            .col-md-12
                .form-group
                    label.form-control-label(for='messageInput') Message
                    textarea#messageInput.form-control(rows='5', placeholder='Enter a message')
                    span#messageInput-g
                #formWarning.alert.alert-warning.hidden-xs-up(role='alert')
                    strong Oops
                    | ! Please fill in all required fields.
                #formSuccess.alert.alert-success.hidden-xs-up(role='alert')
                    strong Success
                    | ! Thank you for your message.
                #formFailure.alert.alert-danger.hidden-xs-up(role='alert')
                    strong Oops
                    | ! Something went wrong.
                    br
                    |  Please contact me directly via
                    a(href='mailto:contact@codypatterson.com') : email
            .col-md-12
                button#submitBut.btn.btn-primary(type='submit') Submit

script.
    $(document).ready(function(){
        //$('#g-firstInput').hide();
        //$('#g-lastInput').hide();
        //$('#g-emailInput').hide();
        //$('#g-subjectInput').hide();
        //$('#g-messageInput').hide();
        //hideAllMessages();
    });

    function hideAllMessages() {
        $('#formWarning').hide();
        $('#formSuccess').hide();
        $('#formFailure').hide();
    }

    function showSubmitMessage(status) {
        hideAllMessages();
        $('#form' + status).show();
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function showSingleWarning(valid, input) {
        if (valid) {
            console.log('removed warning from ' + input);
            $(input + '-g').removeClass('glyphicon glyphicon-warning-sign form-control-feedback');
            $(input).parent().removeClass('has-warning has-feedback');
            $(input).removeClass('form-control-warning');
        } else {
            console.log('added warning to ' + input);
            $(input + '-g').addClass('glyphicon glyphicon-warning-sign form-control-feedback');
            $(input).parent().addClass('has-warning has-feedback');
            $(input).addClass('form-control-warning');
        }
    }

    function showWarnings(V,A,L,I,D) {
        showSingleWarning(V, '#firstInput');
        showSingleWarning(A, '#lastInput');
        showSingleWarning(L, '#emailInput');
        showSingleWarning(I, '#subjectInput');
        showSingleWarning(D, '#messageInput');
    }

    function sendEmail() {
        var first = $('#firstInput').val();
        var last = $('#lastInput').val();
        var email = $('#emailInput').val();
        var phone = $('#numberInput').val();
        var subject = $('#subjectInput').val();
        var message = $('#messageInput').val();

        var vFirst = first !== '';
        var vLast = last !== '';
        var vEmail = email !== '' && validateEmail(email);
        var vSubject = subject !== '';
        var vMessage = message !== '';

        var validatedInput = (
            vFirst &&
            vLast &&
            vEmail &&
            vSubject &&
            vMessage
        );

        if (validatedInput) {
            $.ajax({
                type: 'post',
                url: 'http://45.77.6.120:5000/REST/sendEmail',
                data: {
                    'first': first,
                    'last': last,
                    'email': email,
                    'phone': phone,
                    'subject': subject,
                    'message': message
                },
                success: function (data, status) {
                    $('#emailForm').trigger('reset');
                    showSubmitMessage('Success');
                },
                complete: function (data, status) {
                    if (status === 'error') {
                        //alert('complete: ' + status);
                        showSubmitMessage('Failure');
                    }
                }
            });
        } else {
            showWarnings(vFirst, vLast, vEmail, vSubject, vMessage);
            showSubmitMessage('Warning');
        }
        return false;
    }