h1#contact.big Contact
#contactForm.row
    .col-md-12
        form(onsubmit='return sendEmail();').text-xs-left
            .col-md-6
                fieldset.form-group
                    label(for='firstInput') First Name
                    input#firstInput.form-control(type='text', placeholder='Enter first name')
            .col-md-6
                fieldset.form-group
                    label(for='lastInput') Last Name
                    input#lastInput.form-control(type='text', placeholder='Enter last name')
            .col-md-6
                fieldset.form-group
                    label(for='emailInput') Email address
                    input#emailInput.form-control(type='email', placeholder='Enter email')
            .col-md-6
                fieldset.form-group
                    label(for='numberInput') Phone Number
                    input#numberInput.form-control(type='number', placeholder='Enter phone number (optional)')
            .col-md-12
                fieldset.form-group
                    label(for='subjectInput') Subject
                    input#subjectInput.form-control(type='text', placeholder='Enter a subject')
            .col-md-12
                fieldset.form-group
                    label(for='messageInput') Message
                    textarea#messageInput.form-control(rows='5', placeholder='Enter a message')
                #formWarning.alert.alert-warning.hidden-xs-up(role='alert')
                    strong Oops
                    | ! Please fill in all required fields.
                #formSuccess.alert.alert-success.hidden-xs-up(role='alert')
                    strong Success
                    | ! Thank you for your message.
                #formFailure.alert.alert-danger.hidden-xs-up(role='alert')
                    strong Oops
                    | ! Something went wrong.
                    br
                    |  Please contact me directly via
                    a(href='mailto:contact@codypatterson.com') : email
            .col-md-12
                button#submitBut.btn.btn-primary(type='submit') Submit

script.
    $(document).ready(function(){
        $('#formWarning').hide();
        $('#formSuccess').hide();
        $('#formFailure').hide();
    });

    function showSubmitMessage(status) {
        $('#form' + status).show();
    }

    function sendEmail() {
        var first = $('#firstInput').val();
        var last = $('#lastInput').val();
        var email = $('#emailInput').val();
        var phone = $('#numberInput').val();
        var subject = $('#subjectInput').val();
        var message = $('#messageInput').val();

        $.ajax({
            type: 'post',
            url: 'http://localhost:5000/REST/sendEmail',
            dataType: 'json',
            data: {
                'first': first,
                'last': last,
                'email': email,
                'phone': phone,
                'subject': subject,
                'message': message
            },
            success: function (data, status) {
                alert('success: ' + status);
                console.log('success: ' + status);
                showSubmitMessage('Success');
            },
            complete: function (data, status) {
                alert('complete: ' + status);
                console.log('complete: ' + status);
                if (status === 'error') {
                    //alert('complete: ' + status);
                    showSubmitMessage('Failure');
                }
            }
        });
        return false;
    }