h1#employment.big Employment
p.employer
    b Freelance Software Developer
    |  / Visalia, CA / Self Employed Full Stack Engineer
p
    | [ MAY 2017 - PRESENT ] : :
    | Designing, developing, and hosting websites for local & remote businesses and companies.
br
p.employer
    b CSU Monterey Bay
    |  / Seaside, CA / Information Technology Support
p
    | [ AUGUST 2015 - MAY 2017 ] : :
    | Solving technical issues for students and faculty & maintaining on-campus hardware.
br
p.employer
    b Exeter Unified School District
    |  / Exeter, CA / Technical Intern
p
    | [ JUNE 2016 - AUGUST 2016 ] : :
    | On-site work solving technical issues for faculty & light programming  to fix issues.
