footer.text-xs-center
    .nav.nav-inline
        a.nav-link.local-link(href='javascript:scrollToTop();') Top
        a.nav-link(href='mailto:contact@codypatterson.com') Email
        a.nav-link(target='_blank', href='https://twitter.com/codytpatterson') Twitter
        a.nav-link(target='_blank', href='https://www.facebook.com/cody.patterson.545') Facebook
        a.nav-link(target='_blank', href='https://www.linkedin.com/in/cody-t-patterson/') Linkedin
        a.nav-link(target='_blank', href='https://github.com/code-ee') Github
        a.nav-link(target='_blank', href='http://patterson-ethics.blogspot.com/') Blog
    p#copyright
        | Copyright © 2017 Cody Patterson - All Rights Reserved.

script.
    function scrollToTop() {
        $('html,body').animate({
                scrollTop: 0
            },
            'slow'
        );
    }