h1.big.sName <b>Cody T. Patterson</b>
h1#home.big Home
.homeContent
    .row
        .col-md-4
            .headShot
                img#headShot(src='images/profilepic.jpg')
        .col-md-8
            .row
                .col-md-12
                    p B.S. Software Engineering
                    br
            .row
                .col-md-4
                    b Age:
                .col-md-6
                    p#age #{age}
                .col-md-2
            .row
                .col-md-4
                    b Location:
                .col-md-6
                    p California, U.S.
                .col-md-2
            .row
                .col-md-4
                    b Bio:
                .col-md-6
                    p.
                        Software Engineer with a focus in Object Oriented Development.
                        You can find out more about me below.
                .col-md-2