h1#projects.big Projects
.row
    .col-xs-6.col-md-4.col-lg-3
        label(for='poly') Polyhedral
        a(href='https://github.com/zacleids/polyhedral-public', target='_blank')
            img#poly.projImage.img-lnk(src='images/tetrahedron.png', alt='Polyhedral: Tutoring Center Application')
    .col-xs-6.col-md-4.col-lg-3
        label(for='ftrest') Friendtrest
        a(href='https://github.com/zacleids/friendtrest', target='_blank')
            img#ftrest.projImage.img-lnk(src='images/friendtrest.png', alt='Friendtrest: Social media based on media interest')
    .col-xs-6.col-md-4.col-lg-3
        label(for='bhacks') Bash Hacks
        a(href='https://github.com/code-ee/bash_hacks', target='_blank')
            img#bhacks.projImage.blkwhte(src='images/bashHacks.png', alt='Bash Hacks: Solving your linux problems')
    .col-xs-6.col-md-4.col-lg-3
        label(for='cim') C.I.M.
        a(href='https://github.com/code-ee/cim', target='_blank')
            img#cim.projImage.blkwhte(src='images/cim.png', alt='Center for Integrated Medicine Website')
