h1#resume.big Résumé
.row
    .col-md-8
        a(href='pdf/Patterson_TechResume_2017.pdf', target='_blank')
            img#res-img.techImage.img-lnk(src='images/pdf.png', alt='Cody Patterson - Facebook')
    .col-md-4
.row
    .col-md-12
        i "A résumé doesn't make up a person entirely, but its certainly a nice introduction." -Anonymous

script.
    $('a[href*="pdf"]').click(function (e) {
        e.preventDefault(); // stop the existing link from firing
        var documentUrl = $(this).attr("href"); // get the url of the pdf
        window.open(documentUrl, '_blank'); // open the pdf in a new window/tab
    });
