h1#resume.big Résumé
.resumeWrapper.contentWrapper
    i.
        "A résumé doesn't make up a person entirely, but its certainly a nice introduction." -Cody Patterson
    br
    a(href='pdf/Patterson_TechResume_2017.pdf') See resume

script.
    $('a[href*="pdf"]').click(function (e) {
        e.preventDefault(); // stop the existing link from firing
        var documentUrl = $(this).attr("href"); // get the url of the pdf
        window.open(documentUrl, '_blank'); // open the pdf in a new window/tab
    });
