h1#stats.big Statistics
.row
    .col-xs-6.col-md-4.col-lg-3
        label(for='github') GitHub Stats
        a(href='https://github.com/code-ee', target='_blank')
            img#github.projImage.img-lnk(src='images/github.png', alt='GitHub')
    .col-xs-6.col-md-4.col-lg-3
        label(for='repos') Public Repositories
        .statText.repositories#repos
            .big
                p 23
    .col-xs-6.col-md-4.col-lg-3
        label(for='contrb') Contributions This Year
        .statText.contributions#contrb
            .big
                p 713
    .col-xs-6.col-md-4.col-lg-3
        label(for='follows') Followers
        .statText.followers#follows
            .big
                p 6