h1#tech.big Favorite Technologies
.row
    .col-xs-6.col-md-4.col-lg-3
        a(href='https://nodejs.org/en/', target='_blank')
            img.techImage.img-lnk(src='images/nodejs.png', alt='Node Nodejs Javascript Framework')
    .col-xs-6.col-md-4.col-lg-3
        a(href='https://java.com/', target='_blank')
            img.techImage.img-lnk(src='images/java.png', alt='Java Object Oriented Programming Language')
    .col-xs-6.col-md-4.col-lg-3
        a(href='http://www.cplusplus.com/', target='_blank')
            img.techImage.img-lnk(src='images/cpp.png', alt='C++ Object Oriented Programming Language')
    .col-xs-6.col-md-4.col-lg-3
        a(href='https://www.ubuntu.com/', target='_blank')
            img.techImage.img-lnk(src='images/tux.png', alt='Tux the Linux Kernel Penguin')