body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    position:relative;
    padding: 15px;
    background-color: #101010;
    color: #808080;
}

a {
    color: #00B7FF;
}

.separator {
    width: 30vw;
    margin: 10px;
    padding: 10px;
}
.cDisplayWrapper {
    z-index: 1;
}

.name {
    text-align:right;
    background-color: #101010;
    z-index: 2;
    position: fixed;
}

.big {
    padding-bottom: 50px;
    font-size: 4vw;
}

/*navigation*/
.leftPanelWrapper {
    overflow: auto;
    z-index: 3;
}

.square {
    width: 8vw;
    height: 8vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    margin: 3px;
}

/*extra large window size*/
@media all and (min-width: 1201px) {
    .leftPanelWrapper {
        margin-top: 20vh;
    }

    .sName {
        display:none;
    }

    .navSquare {
        font-size: 1.1vw;
    }
}
/*large window size*/
@media all and (max-width: 1200px) and (min-width: 993px) {
    .leftPanelWrapper {
        margin-top: 20vh;
    }

    .sName {
        display:none;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*medium window size*/
@media all and (max-width: 992px) and (min-width: 769px) {
    .name {
        display:none;
    }

    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*small window size*/
@media all and (max-width: 768px) and (min-width: 567px) {
    .name {
        display:none;
    }

    .leftPanelWrapper {
        top:0;
        left:0;
    }

    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*extra small window size*/
@media all and (max-width: 576px) and (min-width: 50px) {
    .name {
        display:none;
    }

    .leftPanelWrapper {
        top:0;
        left:0;
    }
    
    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}

.navSquare {
    color: #A0A0A0;
    text-align: center;
    background-color: #1F1F1F;
}

.navSquare:hover {
    transition:500ms;
    color: #FFFFFF;
    background-color: #2F2F2F;
    cursor: pointer;
}

.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.navText {
    margin: 0 auto;
    top: 40%;
    position: relative;
}

.activeNav {
    color: #FFFFFF;
    background-color: #2F2F2F;
}