body {
    font-family: 'Ubuntu', sans-serif;
    position:relative;
    padding: 15px;
    background-color: #101010;
    color: #808080;
}

a {
    color: #00B7FF;
}

footer {
    text-align:center;
    margin-top: 5vw;
}

.employer {
    font-size: calc(13px + 0.4vw);
}

.techImage {
    width: 8vw;
    height: 8vw;
    min-width: 100px;
    min-height: 100px;
    display: block;
    margin: auto;
}

.projImage {
    width: 6vw;
    height: 6vw;
    min-width: 80px;
    min-height: 80px;
    display: block;
    margin: auto;
}

.img-lnk {
    filter: grayscale(0.8);
    -webkit-filter: grayscale(0.8);
    -moz-filter: grayscale(0.8);
    -o-filter: grayscale(0.8);
    -ms-filter: grayscale(0.8);
}
.img-lnk:hover
{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

.blkwhte {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}


.blkwhte:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

.contentWrapper {
    text-align:center;
}

#headShot {
    width: 15vw;
    height: 15vw;
    min-width: 175px;
    min-height: 175px;
    display: block;
    margin: auto;
}

.homeContent {
    font-size: calc(12px + 0.5vw);
}

.nav-link {
    margin: 0.3vw;
    padding: 0.3vw;
}

#formWarning, #formSuccess, #formFailure {
    display: none;
}
.firstSeparator {
    width: 30vw;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 4.1vw;
    padding-bottom: 4.1vw;
}
.separator {
    width: 30vw;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 4.1vw;
    padding-top: 4.1vw;
    margin-bottom: 4.1vw;
    padding-bottom: 4.1vw;
}
.cDisplayWrapper {
    z-index: 1;
}

.name {
    text-align:right;
    background-color: #101010;
    z-index: 2;
    position: fixed;
}

.big {
    padding-bottom: 30px;
    font-size: 4vw;
}

/*navigation*/
.leftPanelWrapper {
    overflow: auto;
    z-index: 3;
}

.square {
    width: 8vw;
    height: 8vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    margin: 3px;
}

/*extra large window size*/
@media all and (min-width: 1201px) {
    .leftPanelWrapper {
        margin-top: 20vh;
    }

    .sName {
        display:none;
    }

    .navSquare {
        font-size: 1.1vw;
    }
}
/*large window size*/
@media all and (max-width: 1200px) and (min-width: 993px) {
    .leftPanelWrapper {
        margin-top: 20vh;
    }

    .sName {
        display:none;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*medium window size*/
@media all and (max-width: 992px) and (min-width: 769px) {
    .name {
        display:none;
    }

    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*small window size*/
@media all and (max-width: 768px) and (min-width: 567px) {
    .name {
        display:none;
    }

    .leftPanelWrapper {
        top:0;
        left:0;
    }

    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}
/*extra small window size*/
@media all and (max-width: 576px) and (min-width: 50px) {
    .name {
        display:none;
    }

    .leftPanelWrapper {
        top:0;
        left:0;
    }
    
    .square {
        width: 11vh;
        height: 11vh;
        min-width: 100px;
        min-height: 30px;
        margin: 3px;
    }

    .navSquare {
        font-size: 15px;
    }
}

.navSquare {
    color: #A0A0A0;
    text-align: center;
    background-color: #1F1F1F;
}

.navSquare:hover {
    transition:500ms;
    color: #FFFFFF;
    background-color: #2F2F2F;
    cursor: pointer;
}

.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.navText {
    margin: 0 auto;
    top: 40%;
    position: relative;
}

.activeNav {
    color: #FFFFFF;
    background-color: #2F2F2F;
}